{%extends "layout.html"%}
{%block content%}
<form class='p-5'  method="POST" action="">
  {{ form.hidden_tag() }}
  <h2 class="border-bottom mb-4"> Log In </h2>
  <div class="form-group">
    {{form.email.label(class="form-control-label")}}
    {%if form.email.errors%}
      {{form.email(class = "form-control form-control-lg is-invalid")}}
      <div class = "invalid-feedback">
        {%for error in form.email.errors%}
          <span>{{error}}</span>
        {%endfor%}
      </div>
    {%else%}
      {{form.email(class = "form-control form-control-lg")}}
    {%endif%}
    <!--<label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">-->
  </div>
  <div class="form-group">
    {{form.password.label(class="form-control-label")}}
    {%if form.password.errors%}
      {{form.password(class = "form-control form-control-lg is-invalid")}}
      <div class = "invalid-feedback">
        {%for error in form.password.errors%}
          <span>{{error}}</span>
        {%endfor%}
      </div>
    {%else%}
      {{form.password(class = "form-control form-control-lg")}}
    {%endif%}
    <!--<label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">-->
  </div>
  <div class="form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Remember me</label>
  </div>
  <div class="border-top pt-3">
    {{ form.submit(class="btn btn-outline-info") }}
  </div>
</form>
{% endblock content %}